In [1]:
import pandas as pd
import numpy as np

In [2]:
merged = pd.read_csv ("merged.csv")

C:\Users\Bryant Xia\AppData\Local\Temp\ipykernel_28008\4176615169.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  merged = pd.read_csv ("merged.csv")

In [4]:
pd.set_option('display.max_columns', None)
merged.head ()

,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW
0,2016-17,Aaron Cresswell,DEF,NaN,0,0,0,0,0.0,454,10,0,0,0.0,0.0,2016-08-15T19:00:00Z,0,4,0,0,0,0,1,0,14023,1.0,2.0,0.0,0,0,0,0,55,False,0,1
1,2016-17,Aaron Lennon,MID,NaN,0,0,6,0,0.3,142,3,0,0,0.9,8.2,2016-08-13T14:00:00Z,15,17,0,0,0,0,1,0,13918,1.0,1.0,0.0,1,0,0,0,60,True,0,1
2,2016-17,Aaron Ramsey,MID,NaN,0,0,5,0,4.9,16,8,3,0,3.0,2.2,2016-08-14T15:00:00Z,60,9,0,0,0,0,1,0,163170,4.0,3.0,23.0,2,0,0,0,80,True,0,1
3,2016-17,Abdoulaye Doucouré,MID,NaN,0,0,0,0,0.0,482,7,0,0,0.0,0.0,2016-08-13T14:00:00Z,0,13,0,0,0,0,1,0,1051,1.0,1.0,0.0,0,0,0,0,50,False,0,1
4,2016-17,Adam Forshaw,MID,NaN,0,0,3,0,1.3,286,6,1,0,0.3,2.0,2016-08-13T14:00:00Z,69,14,0,0,0,0,1,0,2723,1.0,1.0,0.0,1,0,0,0,45,True,1,1

In [6]:
merged.columns

Index(['season_x', 'name', 'position', 'team_x', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'own_goals', 'penalties_missed', 'penalties_saved',
       'red_cards', 'round', 'saves', 'selected', 'team_a_score',
       'team_h_score', 'threat', 'total_points', 'transfers_balance',
       'transfers_in', 'transfers_out', 'value', 'was_home', 'yellow_cards',
       'GW'],
      dtype='object')

In [45]:
def process (df):
    df ['target'] = df.groupby('name')['total_points'].shift(-1)
    df = df.drop (['season_x', 'name', 'team_x', 'kickoff_time', 'opponent_team', 'round', 'element', 'total_points', 'fixture'], axis=1)
    df ['was_home'] = np.multiply (df ['was_home'], 1)
    df['GK'] = df['position'].apply(lambda x: 1 if x == 'GK' else 0)
    df['DEF'] = df['position'].apply(lambda x: 1 if x == 'DEF' else 0)
    df['MID'] = df['position'].apply(lambda x: 1 if x == 'MID' else 0)
    df['FWD'] = df['position'].apply(lambda x: 1 if x == 'FWD' else 0)
    df = df.drop (['position'], axis=1)
    return df

In [42]:
temp = process (merged)
temp.tail ()

,assists,bonus,bps,clean_sheets,creativity,goals_conceded,goals_scored,ict_index,influence,minutes,own_goals,penalties_missed,penalties_saved,red_cards,saves,selected,team_a_score,team_h_score,threat,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,target,GK,DEF,MID,FWD
100744,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,8368,2.0,0.0,0.0,-1173,107,1280,45,0,0,NaN,0,0,1,0
100745,0,0,1,0,0.6,0,0,0.6,3.0,16,0,0,0,0,0,173321,2.0,0.0,2.0,-46700,8651,55351,45,0,0,NaN,0,1,0,0
100746,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,12452,1.0,0.0,0.0,-1396,617,2013,45,1,0,NaN,0,1,0,0
100747,0,0,0,0,0.0,0,0,0.0,0.0,0,0,0,0,0,0,7760,0.0,1.0,0.0,-1664,252,1916,45,1,0,NaN,0,0,1,0
100748,0,0,4,0,1.0,4,0,0.8,6.8,45,0,0,0,0,0,10099,0.0,9.0,0.0,-1954,232,2186,54,0,0,NaN,0,0,1,0

In [ ]:
# def add_features ():

In [67]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
szn_22 = merged [merged ['season_x'] == "2021-22"]
processed_22 = process (szn_22)
processed_22 = processed_22 [processed_22 ['GW']!=38].drop (['GW'], axis = 1)
X, y = processed_22.drop (['target'], axis=1), processed_22 ['target']
regr = RandomForestRegressor(max_depth=20, random_state=0)
regr.fit(X, y)

C:\Users\Bryant Xia\AppData\Local\Temp\ipykernel_28008\296024773.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df ['target'] = df.groupby('name')['total_points'].shift(-1)

RandomForestRegressor(max_depth=20, random_state=0)

In [74]:
last_wk_22 = merged [merged ['season_x'] == "2021-22"]
last_wk_22 = last_wk_22 [last_wk_22 ['GW'] == 38]
last_wk_22 = process (last_wk_22)
last_wk_22 = last_wk_22.drop (['target', 'GW'], axis=1)
preds = regr.predict (last_wk_22)
temp = merged [merged ['season_x'] == "2021-22"]
temp = temp [temp ['GW'] == 38]
temp ['pred'] = preds
temp = temp.sort_values (by='pred', ascending = False).reset_index ()

In [77]:
temp.head (10)

,index,season_x,name,position,team_x,assists,bonus,bps,clean_sheets,creativity,element,fixture,goals_conceded,goals_scored,ict_index,influence,kickoff_time,minutes,opponent_team,own_goals,penalties_missed,penalties_saved,red_cards,round,saves,selected,team_a_score,team_h_score,threat,total_points,transfers_balance,transfers_in,transfers_out,value,was_home,yellow_cards,GW,target,pred
0,97857,2021-22,Mohamed Salah,MID,Liverpool,0,0,22,0,0.0,233,378,0,1,0.0,0.0,2022-05-22T15:00:00Z,32,20,0,0,0,0,38,0,3664020,1.0,3.0,0.0,6,-778411,10087,788498,131,True,0,38,12.0,5.740000
1,98272,2021-22,Harry Kane,FWD,Spurs,1,1,42,1,0.0,357,380,0,1,0.0,0.0,2022-05-22T15:00:00Z,90,15,0,0,0,0,38,0,2196579,5.0,0.0,0.0,10,227108,266861,39753,125,False,0,38,2.0,5.560000
2,98254,2021-22,Heung-Min Son,MID,Spurs,0,0,27,1,0.0,359,380,0,2,0.0,0.0,2022-05-22T15:00:00Z,90,15,0,0,0,0,38,0,3326112,5.0,0.0,0.0,12,383923,414358,30435,112,False,1,38,NaN,5.354154
3,98252,2021-22,Gabriel Teodoro Martinelli Silva,MID,Arsenal,1,2,38,0,0.0,26,371,1,1,0.0,0.0,2022-05-22T15:00:00Z,90,8,0,0,0,0,38,0,285487,1.0,5.0,0.0,12,-6904,13260,20164,53,True,0,38,NaN,5.146592
4,97856,2021-22,Kevin De Bruyne,MID,Man City,1,1,27,0,0.0,251,379,2,0,0.0,0.0,2022-05-22T15:00:00Z,90,2,0,0,0,0,38,0,1755119,2.0,3.0,0.0,6,288147,338696,50549,121,True,0,38,6.0,4.815833
5,98230,2021-22,Illan Meslier,GK,Leeds,0,1,18,0,0.0,199,372,1,0,0.0,0.0,2022-05-22T15:00:00Z,90,3,0,0,0,0,38,4,186264,2.0,1.0,0.0,4,1980,5560,3580,48,False,0,38,3.0,4.740047
6,98172,2021-22,Vicente Guaita,GK,Crystal Palace,0,3,28,1,0.0,146,376,0,0,0.0,0.0,2022-05-22T15:00:00Z,90,13,0,0,0,0,38,4,505318,0.0,1.0,0.0,10,-15113,1827,16940,46,True,0,38,1.0,4.689648
7,97915,2021-22,Bruno Guimarães Rodriguez Moura,MID,Newcastle,0,0,10,0,0.0,697,374,1,0,0.0,0.0,2022-05-22T15:00:00Z,90,5,0,0,0,0,38,0,277262,2.0,1.0,0.0,2,83386,90695,7309,50,False,0,38,3.0,4.680881
8,97936,2021-22,Demarai Gray,MID,Everton,0,0,3,0,0.0,484,371,5,0,0.0,0.0,2022-05-22T15:00:00Z,90,1,0,0,0,0,38,0,471491,1.0,5.0,0.0,2,-18947,4285,23232,54,False,0,38,2.0,4.613770
9,98304,2021-22,Tomas Soucek,MID,West Ham,0,0,2,0,0.0,422,373,3,0,0.0,0.0,2022-05-22T15:00:00Z,90,4,0,0,0,0,38,0,313355,1.0,3.0,0.0,1,204,3309,3105,57,False,1,38,2.0,4.565891

#### Assembling a team

In [132]:
import copy

combos = []

def n_choose_c (n, c, cur, idx, length):
    copy_cur = copy.deepcopy (cur)
    if (length==c):
        combos.append (copy_cur)
    elif (length>c):
        return
    else:
        temp = copy.deepcopy (copy_cur)
        for j in range (idx, n):
            if (temp==[]):
                temp = [j]
            else:
                temp.append (j)
            n_choose_c (n, c, temp, j+1, len(temp)) 
            temp.pop ()

In [133]:
start = []

n_choose_c (10, 3, start, 0, 0)

In [134]:
combos3 = copy.deepcopy (combos)

In [135]:
combos = []
n_choose_c (10, 4, start, 0, 0)
combos4 = copy.deepcopy (combos)

In [152]:
def legal (attackers, midfielders, defenders, att_index, mid_index, def_index, budget):
    team_count = dict ()
    total_val = 0
    point_total = 0
    names = []
    for idx in att_index:
        team = attackers['team_x'][idx]
        name = attackers['name'][idx]
        cost = attackers['value'][idx]
        point_total += attackers['pred'][idx]
        names.append (name)
        total_val += cost
        if (team in team_count):
            team_count [team] +=1
        else:
            team_count [team] = 1
    for idx in mid_index:
        team = midfielders['team_x'][idx]
        name = midfielders['name'][idx]
        cost = midfielders['value'][idx]
        point_total += midfielders['pred'][idx]
        names.append (name)
        total_val += cost
        if (team in team_count):
            team_count [team] +=1
        else:
            team_count [team] = 1
    for idx in def_index:
        team = defenders['team_x'][idx]
        name = defenders['name'][idx]
        cost = defenders['value'][idx]
        point_total += defenders['pred'][idx]
        names.append (name)
        total_val += cost
        if (team in team_count):
            team_count [team] +=1
        else:
            team_count [team] = 1
    if (total_val>budget):
        return False, names
    else:
        max_players = sorted (list(team_count.values()))[-1]
        if (max_players>3): return False, names
    return point_total, names

def portfolio (df):
    max = -1000
    best_group = []
    # with df (names + preds + other info) -> return the best possible team
    forwards = df [df ['position'] == "FWD"].reset_index ()[:10]
    midfileders = df [df ['position'] == "MID"].reset_index ()[:10]
    defenders = df [df ['position'] == "DEF"][:10].reset_index ()[:10]  
    keepers = df [df ['position'] == "GK"][:10].reset_index ()[:10]
    cap = 1000
    cap -= keepers ['value'][0]
    count = 1
    for att_index in combos3:
        for mid_index in combos3:
            for def_index in combos4: 
                if (count%10000 == 0):
                    print (count, end = " ") 
                count += 1
                valid, names = legal (forwards, midfileders, defenders, att_index, mid_index, def_index, cap)
                if (valid != False):
                    if (valid>max):
                        max = valid
                        best_group = names
    return max, best_group

In [153]:
portfolio (temp)

10000 20000 30000 40000 50000 60000 70000 80000 90000 100000 110000 120000 130000 140000 150000 160000 170000 180000 190000 200000 210000 220000 230000 240000 250000 260000 270000 280000 290000 300000 310000 320000 330000 340000 350000 360000 370000 380000 390000 400000 410000 420000 430000 440000 450000 460000 470000 480000 490000 500000 510000 520000 530000 540000 550000 560000 570000 580000 590000 600000 610000 620000 630000 640000 650000 660000 670000 680000 690000 700000 710000 720000 730000 740000 750000 760000 770000 780000 790000 800000 810000 820000 830000 840000 850000 860000 870000 880000 890000 900000 910000 920000 930000 940000 950000 960000 970000 980000 990000 1000000 1010000 1020000 1030000 1040000 1050000 1060000 1070000 1080000 1090000 1100000 1110000 1120000 1130000 1140000 1150000 1160000 1170000 1180000 1190000 1200000 1210000 1220000 1230000 1240000 1250000 1260000 1270000 1280000 1290000 1300000 1310000 1320000 1330000 1340000 1350000 1360000 1370000 1380000 1390000 1400000 1410000 1420000 1430000 1440000 1450000 1460000 1470000 1480000 1490000 1500000 1510000 1520000 1530000 1540000 1550000 1560000 1570000 1580000 1590000 1600000 1610000 1620000 1630000 1640000 1650000 1660000 1670000 1680000 1690000 1700000 1710000 1720000 1730000 1740000 1750000 1760000 1770000 1780000 1790000 1800000 1810000 1820000 1830000 1840000 1850000 1860000 1870000 1880000 1890000 1900000 1910000 1920000 1930000 1940000 1950000 1960000 1970000 1980000 1990000 2000000 2010000 2020000 2030000 2040000 2050000 2060000 2070000 2080000 2090000 2100000 2110000 2120000 2130000 2140000 2150000 2160000 2170000 2180000 2190000 2200000 2210000 2220000 2230000 2240000 2250000 2260000 2270000 2280000 2290000 2300000 2310000 2320000 2330000 2340000 2350000 2360000 2370000 2380000 2390000 2400000 2410000 2420000 2430000 2440000 2450000 2460000 2470000 2480000 2490000 2500000 2510000 2520000 2530000 2540000 2550000 2560000 2570000 2580000 2590000 2600000 2610000 2620000 2630000 2640000 2650000 2660000 2670000 2680000 2690000 2700000 2710000 2720000 2730000 2740000 2750000 2760000 2770000 2780000 2790000 2800000 2810000 2820000 2830000 2840000 2850000 2860000 2870000 2880000 2890000 2900000 2910000 2920000 2930000 2940000 2950000 2960000 2970000 2980000 2990000 3000000 3010000 3020000

(47.58422812117867,
 ['Harry Kane',
  'Edward Nketiah',
  'Danny Welbeck',
  'Mohamed Salah',
  'Heung-Min Son',
  'Gabriel Teodoro Martinelli Silva',
  'João Pedro Cavaco Cancelo',
  'Harry Maguire',
  'Pontus Jansson',
  'Joel Matip'])

In [155]:
squad = ['Illan Meslier',
  'Harry Kane',
  'Edward Nketiah',
  'Danny Welbeck',
  'Mohamed Salah',
  'Heung-Min Son',
  'Gabriel Teodoro Martinelli Silva',
  'João Pedro Cavaco Cancelo',
  'Harry Maguire',
  'Pontus Jansson',
  'Joel Matip']

In [159]:
def actual_pts (squad, df):
    total = 0
    max_exp = -1
    triple_cap = 0
    for player in squad:
        temp = df [df['name'] == player].reset_index ()
        total += temp ['total_points'][0]
        if (temp ['pred'][0]>max_exp):
            max_exp = temp ['pred'][0]
            triple_cap = temp ['total_points'][0]*2
    return total+triple_cap

In [160]:
actual_pts (squad, temp)

84